@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --main-bg-color: #f2f4f6;
  --main-accent-color: #1771f1;
  --main-danger-color: #e20338;
}

html {
  height: 100%;

  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  height: 100%;
  background-color: var(--main-bg-color);
}

#root {
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}
